/* Acá van tus estilos */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/* Estilos Natalia */


/* CLASES PARA EL SIDEBAR*/

.iconos-sidebar .fa {
    color: grey;
}

.skills .btn {
    color: black;
    background-color: white;
    border-radius: 4px;
    font-size: 13px;
    text-transform: lowercase;
}


/*CLASES PARA EL SIDEBAR*/


/*Estilos Vale para footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


/* Estilo para footer fijo en bottom */

main {
    flex: 1 0 auto;
}


/* Estilos Martina */

#nav-menu {
    padding-left: 130px;
    /*separa nav de logo*/
}

#nav-downside {
    background-color: white;
    color: gray;
}


/*parte inferior de nav tiene que centrarse

#nav-downside ul{
	padding-left: 30%;
}*/