/* Acá van tus estilos */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background: #eeeeee;
}


/* Estilos Natalia */


/* CLASES PARA EL SIDEBAR*/

.iconos-sidebar .fa {
    color: grey;
}

.skills .btn {
    color: black;
    background-color: white;
    border-radius: 4px;
    font-size: 13px;
    text-transform: lowercase;
}


/*CLASES PARA EL SIDEBAR + PORTFOLIO*/

.portfolio {
    margin-top: 100px;
    margin-left: 40px;
}

.lateral {
    background-color: #fbfbfb;
    width: 400px;
    position: absolute;
    border-radius: 15px;
}

.datos-artista {
    margin-top: 30px;
}

#btn-hire {
    background-color: #7aba5d;
    margin: 0 1px;
    padding: 7px 12px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    border: none;
}

#hire {
    color: white;
}


/*ESTILOS NAVBAR*/

.nav-wrapper {
    background-color: #333333;
}

#nav-menu a {
    color: #999999;
}

#logo-dribbble {
    display: block;
    top: 7px;
    background-repeat: no-repeat;
}

#btn-shots {
    background-color: #fbfbfb;
    color: #999999;
    padding: 0 5px 0 5px;
    font-size: .8em;
    border-radius: 10px;
    box-shadow: none;
    border-color: #333333;
}

#sub-nav {
    color: #333333;
    text-align: center;
    background-color: #fbfbfb;
    height: 64px;
}

.sub-num {
    color: #999999;
}

.nav-content {
    width: 100%;
}

.fa-sort {
    font-size: 0.7em;
}


/* Estilos Martina */

#nav-menu {
    padding-left: 120px;
    /*separa nav de logo*/
}

#nav-downside {
    background-color: white;
    color: gray;
}

.dribbble a li p {
    background-color: #fbfbfb;
}


/* ESTILOS FOOTER */

.page-footer {
    color: #999999;
    background-color: #fbfbfb;
}

.box {
    list-style: none;
    border: 10px solid #fbfbfb;
    background-color: #fbfbfb;
    margin-bottom: 10px;
}