/* Acá van tus estilos */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* CLASES PARA EL SIDEBAR*/
.iconos-sidebar .fa{
	color: grey;
}

.skills .btn{
	color: black;
	background-color: white;
	border-radius: 4px;
	font-size: 13px;
	text-transform: lowercase;
}
/*CLASES PARA EL SIDEBAR*/